@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Moulpali&display=swap');

* {
  margin: 0;
  padding: 0;
}
html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#root{
  min-height: 100vh;
}

.error-image {
  height: 160px;
  margin-top: 18px;
  margin-bottom: 20px;
}

.error-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #c1c1c1;
  border-radius: 15px;
  width: 450px;
  height: 300px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: #1F0441;
}

.open-menu {
  display: block;
  border: 0;
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  color: #1F0441;
  font-family: 'Titan One', sans-serif;
  margin-right: auto;
  margin-left: 0px;
}

select {
  margin: 0;
  width: 165px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: #1F0441;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  color: #1F0441;
  background-color: #FCAB10;
  font-family: 'Titan One', sans-serif;
  font-size: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.inputs {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 230px;
  background-color: #FCAB10;
  font-family: 'Roboto Mono', monospace;
  align-items: flex-end;
  padding: 9px;
  font-size: 14px;
  color: #1F0441;
  border-radius: 0 0 10px 0;
  gap: 0.5rem;
  left: 0rem;
  top: 15vh;
}

body {
  flex-grow: 1;
  background-color: #1F0441;
}

.cards {
  width: 290px;
  padding: 15px;
  border-radius: 10px;
  margin: 7px;
  box-sizing: border-box;
  background-color: #0CE3E8;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;
}

img {
  height: 17vw;
  max-height: 250px;
  max-width: 250px;
  margin-bottom: 15px;
  border-radius: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.name-movie {
  font-size: 20px;
  margin-bottom: 3px;
}

.info-movie {
  margin-bottom: 15px;
}

.year-movie {
  font-size: 16px;
  margin-bottom: 10px;
}

/*pendiente de colocarle clase a #btn para aprovechar reglas de otros botones*/
#btn {
  margin: 10px 10px 10px auto;
  border-radius: 5px;
  background-color: #F9CE07;
  color: #1F0441;
  font-family: 'Titan One', sans-serif;
  border-color: #1F0441;
  padding: 2px;
  cursor: pointer;
  margin-left: auto;
}

.btn-home {
  cursor: pointer;
  font-size: 2rem;
}

.btn-chat-grupal,
.btn-api {
  margin-right: 40px;
}
.btn-api{
  margin-right: 1rem;
}

.btn-chat-grupal,
.btn-api, .btn-accept, .btn {
  padding: 2px;
  border-radius: 5px;
  background-color: #F9CE07;
  color: #1F0441;
  font-family: 'Titan One', sans-serif;
  border-color: #1F0441;
  cursor: pointer;
  font-size: 1.1rem;
}

/*.btn{
  font-family: "Modak", system-ui;
  width: 16vw;
  height: 4vw;
  background-color: #F9CE07;
  border-radius: 7px;
  font-size: x-large;
}*/

.btn-accept {
  margin-top: 25px;
}

.cards-two {
  background-color: #0CE3E8;
  width: 260px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 111px;
}

.cards-menu {
  margin-left: 200px;
}

footer {
  background-color: #FCAB10;
  color: #1F0441;
  text-align: center;
  padding: 5px;
  font-family: 'Titan One', sans-serif;
  height: 5vh;
}
h2 {
  margin-top: 15px;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h4 {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.div-card{
  font-family: 'Roboto Mono';
  background-color: #FCAB10;
  display: grid;
  width: 70vw;
  max-width: 700px;
  border-radius: 12px;
  margin: 2vw auto;
  padding: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, minmax(11rem, 1fr));
  /*row-gap: 1.5rem;*/
}

.film-image {
  width: 100%;
  max-width: 242px;
  height: auto;
  object-fit: fill;
  max-height: 268px;
}

.list-description-short {
  width: 100%;
  height: 100%;
  text-align: justify;
  padding: .625rem;
  font-size: medium;
  object-fit: fill;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;
}

.description-card {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size:medium;
    text-align: justify;
    /*margin-top: 1rem;*/
}

.name-movie-description{
    font-size: larger;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 2rem;
}
.div-botones {
  display: flex;
  width: 70vw;
  margin: 2vw auto;
  justify-content: space-around;
}

.btn-regresar{
  
}
.btn-chat{
  
}
.list-description-all{
  padding: 0;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.card-description-short{
  margin-left: 1rem;
  object-fit: fill;
}


/**Estilos viewAPI**/
.container-api-key{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.container-input-btns {
  width: 50vw;
  height: 90vh;
  margin: auto;
}
.btn-regresar-API {
  width: 108px;
}
.btn-confirmar {
  width: 112px;
}
#api-key {
  font-family: 'Modak';
  font-size: x-large;
  text-align: center;
  border-radius: 13px;
  color: #7c7a7a;
  width: 39vw;
  height: 4vh;
  min-width: 349px;
}


/**Estilos viewBienvenida**/
.contenedor {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 84vh;
  position: relative;
  align-items: center;
  margin: auto;
}
.bienvenida {
    position: relative;
    font-family: 'Modak';
    text-align: center;
    color: #fcab10;
    font-size: 57px;
    font-weight: 100;
    top: 15vh;
}
.validacion {
    position: absolute;
    color: white;
    font-size: xx-large;
    font-family: "Moulpali", sans-serif;
    top: 21vh;
}
.btn-regresar-bienvenida {
  position: absolute;
  top: 39vh;
}
.btn-api, .btn-chat-grupal{
  font-size: 1.5rem
}

/**Estilos viewChat**/
.btn-icon-enviar {
  width: 3rem;
  height: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2rem;
}
.div-input-icon {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-bottom: 1rem;
  align-items: center;
}
/*.contenedor-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcab10;
  height: 72vh;
  width: 70vw;
  border-radius: 2vh;
  margin: 5vh auto;
}*/
.contenedor-all {
  display: grid;
  grid-gap: 2.5rem;
  width: 90%;
  height: 80vh;
  margin: 0rem auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
      "imagen chat chat chat"
      "imagen chat chat chat"
      "imagen chat chat chat"
      "boton boton boton boton"
      "boton boton boton boton";
}
.contenedor-chat {
  grid-area: chat;
  display: flex;
  width: 100%;
  max-width: 775px;
  height: 55vh;
  margin-top: 4rem;
  padding: 0.3rem 0rem;
  flex-direction: column;
  align-items: center;
  background-color: #fcab10;
  border-radius: 2vh;
  margin: 4rem auto 0 auto;
}
.div-img-chat {
  display: flex;
  align-self: center;
  grid-area: imagen;
  height: fit-content;
  background-color: #0CE3E8;
  margin-top: 4rem;
  border-radius: 2vh;
  justify-content: space-around;
  /* align-items: stretch; */
}

.input-chat {
  height: 7vh;
  width: 93%;
  background-color: #d9d9d9;
  border-radius: 11px;
  overflow-y: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: monospace;
}
.div-parrafo-user {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 50%;
  margin-left: 50%;
  background-color: aliceblue;
  border-radius: 1rem;
}
.parrafo {
  width: fit-content;
  height: auto;
  padding: 0.4rem;
  max-width: 70%;
  margin: .2rem;
}
.parrafo-user{
  align-self: end;
  background-color: aliceblue;
  color: #7c7a7a;
  border-radius: 1rem 1rem 0rem 1rem;
}
.parrafo-system{
  align-self: start;
  background-color: rgb(152, 204, 250);
  color: #525050;
  border-radius: 1rem 1rem 1rem 0rem;
}
.chat-image {
  width: 90%;
  height: auto;
  margin-top: 2vh;
}
/*.div-boton {
  display: flex;
  width: 70vw;
  margin: 2vw auto;
  justify-content: space-around;
}*/
.div-boton {
  grid-area: boton;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.btn-salir-chat {
  width: 21vw;
  max-width: 180px;
  min-width: 9rem;
}
.historial-chat {
  display: flex;
  flex-direction: column;
  height: 43vh;
  width: 95%;
  background-color: #d9d9d9;
  border-radius: 16px;
  border: 1px;
  padding: 6px;
  margin: 1rem;
  overflow-y: scroll;
  font-family: monospace;
}
p .parrafo-user{
  justify-content: end;
}
.div-img-chat-grupal > * {
  border-radius: 50%;
  width: 46px;
  height: 45px;
  padding: 1px;
  margin: 0.5vh;
}
.div-img-chat-grupal > *:hover{
  transform: scale(1.1); 
}
.div-img-chat-grupal {
  display: flex;
  justify-content: center;
  width: 31vh;
  height: 55vh;
  /* margin: 1vh 1vw; */
  flex-wrap: wrap;
  box-sizing: border-box;
  /*flex-wrap: wrap;*/
  /* margin-top: 10vh; */
  padding-top: 1rem;
}
.parrafo-user{
  color: #7c7a7a;
}
.parrafo-system{
  width: 60%;
  height: auto;
}
/* Estilo del scrollbar */
.historial-chat::-webkit-scrollbar {
  width: .5rem; /* Ancho del scrollbar */
  height: .5rem;
}

/* Estilo del "pulgar" de la barra de desplazamiento */
.historial-chat::-webkit-scrollbar-thumb {
  background-color: silver; /* Color de fondo del "pulgar" */
  border-radius: 32px; /* Radio de borde del "pulgar" */
}

110px

/*General*/
.btn{
  cursor: pointer;
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    font-size: .75em;
  }

  header {
    margin: 0;
    height: 10vh;
  }
  footer{
    height: 3vh;
  }

  .title {
    padding-top: 7px;
    width: 100vw;
    height: 65px;
    color: #1F0441;
    background-color: #FCAB10;
    text-align: center;
    font-family: 'Titan One', sans-serif;
    font-size: 10px;
  }

  body {
    color: #1F0441;
    flex-grow: 1;
  }

  .inputs {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 130px;
    background-color: #FCAB10;
    font-family: 'Roboto Mono', monospace;
    align-items: flex-end;
    padding: 9px;
    font-size: 12px;
    color: #1F0441;
    border-radius: 0 0 10px 0;
    gap: 0.3rem;
    top: 10vh;
  }

  img {
    height: 26vw;
    margin-bottom: 10px;
    border-radius: 7px;
    min-width: 140px;
    min-height: 140px;
  }

  .cards {
    width: 260px;
    padding: 10px;
    border-radius: 7px;
    margin: 7px;
    box-sizing: border-box;
    background-color: #0CE3E8;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    flex-direction: column;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    align-content: center;
  }

  h2 {
    margin-top: 15px;
    color: #1F0441;
    font-size: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

  h4 {
    color: #1F0441;
    font-size: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

  select {
    margin: 0;
    width: 120px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    font-size: 12px;
    color: #1F0441;
    cursor: pointer;
    background-color: white;
    text-align: center;
  }

  .cards-two {
    background-color: #0CE3E8;
    width: 160px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 120px;
    margin-left: 160px;
    margin-bottom: 111px;
  }
  /*View Chats*/
  .contenedor-all{
    grid-template-areas:
      "imagen imagen imagen imagen"
      "imagen imagen imagen imagen"
      "chat chat chat chat"
      "boton boton boton boton";
    grid-gap: 1rem;
    width: 90%;
    height: 87vh;
  }
  .div-img-chat {
    width: 20%;
    /* height: fit-content; */
    margin: 21em auto 0;
    min-width: 147px;
 }
 .chat-image {
  width: 90%;
  height: auto;
  margin-top: 1vh;
}
.div-img-chat-grupal {
  width: 100%;
  height: 100%;
  /* height: auto; */
  /* margin-bottom: 1rem; */
  padding-top: 0.8rem;
  overflow-y: scroll;
  max-width: 900px;
}
.container-api-key{
  height: 87vh;
}
.container-all-description{
  height: 87vh;
}
}
