@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Moulpali&display=swap');

* {
  margin: 0;
  padding: 0;
}

.error-image {
  height: 160px;
  margin-top: 18px;
  margin-bottom: 20px;
}

.error-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #c1c1c1;
  border-radius: 15px;
  width: 450px;
  height: 300px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: #1F0441;
}

.open-menu {
  display: block;
  border: 0;
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  color: #1F0441;
  font-family: 'Titan One', sans-serif;
  margin-right: auto;
  margin-left: 0px;
}

select {
  margin: 0;
  width: 165px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: #1F0441;
  text-align: center;
}

header {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65px;
  color: #1F0441;
  background-color: #FCAB10;
  text-align: center;
  font-family: 'Titan One', sans-serif;
  font-size: 15px;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.inputs {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 200px;
  background-color: #FCAB10;
  font-family: 'Roboto Mono', monospace;
  align-items: flex-end;
  padding: 9px;
  font-size: 14px;
  color: #1F0441;
  border-radius: 0 0 10px 0;
  gap: 0.5rem;
}

body {
  flex-grow: 1;
  background-color: #1F0441;
}

.cards {
  width: 290px;
  padding: 15px;
  border-radius: 10px;
  margin: 7px;
  box-sizing: border-box;
  background-color: #0CE3E8;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

img {
  height: 17vw;
  margin-bottom: 15px;
  border-radius: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.name-movie {
  font-size: 20px;
  margin-bottom: 3px;
}

.info-movie {
  margin-bottom: 15px;
}

.year-movie {
  font-size: 16px;
  margin-bottom: 10px;
}

/*pendiente de colocarle clase a #btn para aprovechar reglas de otros botones*/
#btn {
  margin: 10px 10px 10px auto;
  border-radius: 5px;
  background-color: #F9CE07;
  color: #1F0441;
  font-family: 'Titan One', sans-serif;
  border-color: #1F0441;
  padding: 2px;
  cursor: pointer;
  margin-left: auto;
}

.btn-home {
  cursor: pointer;
}

.btn-chat-grupal,
.btn-api {
  margin-right: 40px;
}

.btn-chat-grupal,
.btn-api, .btn-accept, .btn {
  padding: 2px;
  border-radius: 5px;
  background-color: #F9CE07;
  color: #1F0441;
  font-family: 'Titan One', sans-serif;
  border-color: #1F0441;
  cursor: pointer;
  font-size: 1.1rem;
}

/*.btn{
  font-family: "Modak", system-ui;
  width: 16vw;
  height: 4vw;
  background-color: #F9CE07;
  border-radius: 7px;
  font-size: x-large;
}*/

.btn-accept {
  margin-top: 25px;
}

.cards-two {
  background-color: #0CE3E8;
  width: 260px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 111px;
}

.cards-menu {
  margin-left: 200px;
}

footer {
  background-color: #FCAB10;
  color: #1F0441;
  text-align: center;
  padding: 5px;
  font-family: 'Titan One', sans-serif;
}

h2 {
  margin-top: 15px;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h4 {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  header {
    margin: 0;
  }

  .title {
    padding-top: 7px;
    width: 100vw;
    height: 65px;
    color: #1F0441;
    background-color: #FCAB10;
    text-align: center;
    font-family: 'Titan One', sans-serif;
    font-size: 10px;
  }

  body {
    background-color: white;
    color: #1F0441;
    flex-grow: 1;
  }

  .inputs {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 130px;
    background-color: #FCAB10;
    font-family: 'Roboto Mono', monospace;
    align-items: flex-end;
    padding: 9px;
    font-size: 12px;
    color: #1F0441;
    border-radius: 0 0 10px 0;
    gap: 0.3rem;
  }

  img {
    height: 14vw;
    margin-bottom: 10px;
    border-radius: 7px;
  }

  .cards {
    width: 260px;
    padding: 10px;
    border-radius: 7px;
    margin: 7px;
    box-sizing: border-box;
    background-color: #0CE3E8;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    flex-direction: column;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    align-content: center;
  }

  h2 {
    margin-top: 15px;
    color: #1F0441;
    font-size: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

  h4 {
    color: #1F0441;
    font-size: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

  select {
    margin: 0;
    width: 120px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    font-size: 12px;
    color: #1F0441;
    cursor: pointer;
    background-color: white;
    text-align: center;
  }

  .cards-two {
    background-color: #0CE3E8;
    width: 160px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 120px;
    margin-left: 160px;
    margin-bottom: 111px;
  }

  .div-card{
    font-family: 'Roboto Mono';
    height: 100vw;
    background-color: #FCAB10;
    display: grid;
    width: 88vw;
    border-radius: 12px;
    margin: 4vw 4vw 30vw 4vw;
    padding: 2vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35% 65%;
    padding-bottom: 6vw;
}

.list-description-short {
    width: 44vw;
    height: 20vw;
    text-align: center;
    padding: 4vw 2vw 10vw 2vw;
    font-size: x-large
}
.list-description-all {
    justify-content: flex-start;
    font-size: larger;
}

}

.div-card{
    font-family: 'Roboto Mono';
    background-color: #FCAB10;
    display: grid;
    width: 70vw;
    max-width: 700px;
    border-radius: 12px;
    margin: 2vw auto;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35% 65%;
    row-gap: 40px;
}

.film-image {
    width: 80%;
    height: auto;
}

.list-description-short {
    height: 30%;
    text-align: justify;
    padding: 10px;
    font-size: medium;
}

.description-card {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size:medium;
    text-align: justify;
}

.name-movie-description{
    font-size: larger;
    padding-bottom: 5px;
}

.btn-regresar{
    left: 11vw;
}
.btn-chat{
    top: -10%;
    left: 58vw;
}

/**Estilos viewAPI**/
.btn-regresar-API{
    bottom: 47vh;
    left: 12vw;
}

.btn-confirmar{
    top: 41vh;
    left: 3vw;

}
#api-key {
    font-family: 'Modak';
    font-size: x-large;
    text-align: center;
    position: relative;
    border-radius: 13px;
    color: #7c7a7a;
    top: 27vh;
    left: 30vw;
    width: 39vw;
    height: 4vh;
}

/**Estilos viewBienvenida**/
.bienvenida {
    position: relative;
    font-family: 'Modak';
    text-align: center;
    color: #fcab10;
    font-size: 57px;
    font-weight: 100;
    top: 15vh;
}
.validacion {
    margin-top: 14vh;
    margin-bottom: 26vh;
    position: absolute;
    color: white;
    font-size: xx-large;
    text-align: center;
    font-family: "Moulpali", sans-serif;
    left: 32vw;
}
.ingreso .btn-regresar-bienvenida {
    top: 28vh;
    left: 42vw;
}

/**Estilos viewChat**/
.btn-icon-enviar {
    background-image: url(img/icons8-enviar-24.png);
    position: relative;
    width: 39px;
    height: 20px;
    left: 29vw;
    top: -3vh;
}
.contenedor-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcab10;
    max-width: 800px;
    height: 72vh;
    border-radius: 2vh;
    margin: 5vh auto;
    padding-top: 2vh;
}
.input-chat {
    height: 7vh;
    width: 90%;
    background-color: #d9d9d9;
    border-radius: 11px;
    margin-top: 2vh;
}
.chat-image{
    width: 32%;
    height: auto;
    margin-bottom: 2vh;
}
.btn-salir-chat {
    width: 21vw;
    left: 40vw;
    top: -2vh;
}
.historial-chat {
    height: 43vh;
    width: 90%;
    background-color: #d9d9d9;
    border-radius: 16px;
    border: 1px solid black;
}
.div-img-chat-grupal > * {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 1px;
    /**margin: -1vh 1vw 1vh 1vw;**/
    margin:1vh;
    
    padding-top: 0vh;
}
.div-img-chat-grupal > *:hover{
    transform: scale(1.1); 
}
